<template>
  <v-container>
    <v-layout row wrap>

      <v-flex xs12 sm12 md12 lg12 class="text-xs-center">
            <h1 class="">ETP Monitoring System</h1>
      </v-flex>

      <v-flex xs12 my-3>
          <v-carousel>
            <v-carousel-item
              v-for="item in factories"
              :key="item.id"
              :src="item.imageUrl"
            ></v-carousel-item>
          </v-carousel>
      </v-flex>



      <v-flex xs12 sm12 md12 lg12 my-3 class="text-xs-center">
        <div class="markdown">
            <h2>Team Members</h2>
          </div>
      </v-flex>

      <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
        <v-card flat class="text-xs-center ma-3">
          <v-responsive class="pt-4">
            <v-avatar size=100>
              <img :src="person.imageUrl">
            </v-avatar>
            <!-- <v-img :src=person.imageUrl></v-img> -->
            <v-card-text>
              <div class="subheading">{{person.name}}</div>
              <div class="grey-text">{{person.role}}</div>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn class="primary">
                  <v-icon small left>perm_contact_calendar</v-icon>
                  <span>Profile</span>
              </v-btn>
            </v-card-actions>

          </v-responsive>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
export default {
  //middleware:['check-auth','authCompleted'],
  //layout: "Home",
  data(){
    return{
      factories:[
        {imageUrl: require('../static/bg/fac1.jpg'), id:'ABC1', title: 'Factory1'},
        {imageUrl: require('../static/bg/fac2.jpg'), id:'ABC2', title: 'Factory2'},
        {imageUrl: require('../static/bg/fac4.jpg'), id:'ABC3', title: 'Factory3'},
        {imageUrl: require('../static/bg/fac5.jpg'), id:'ABC4', title: 'Factory3'},
        {imageUrl: require('../static/bg/fac6.jpg'), id:'ABC5', title: 'Factory3'},
        {imageUrl: require('../static/bg/fac7.jpg'), id:'ABC6', title: 'Factory3'}
      ],
      team:[

          {name: 'MD.Mosfiqur Rahman', role:'Project Manager',imageUrl: require('../static/avatar/mushfiq_vai.jpg')},
          {name: 'MD.Saiful Islam Bappi', role:'Tech Manager & Sr.Developer',imageUrl: require('../static/avatar/bappi_vai2.jpg')},
          {name: 'Mustahsinul Moula Siam', role:'Developer',imageUrl: require('../static/avatar/me.jpg')},

      ]
    }
  }
}
</script>
